<!DOCTYPE html>

<html>

<head>
    <title>Create Todo List</title>
</head>

<body>
    <main>
        <div>
            <h1>Create a new list</h1>
            <form method="post">
                Name:
                {% csrf_token %}
                {{ forms.as_p }}
                <div>
                    <button type="submit">Create</button>
                </div>
            </form>
        </div>
</body>
</html>
