<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
</head>

<body>
    <main>
        <div>
            <h1>{{ list_object.name }} </h1>
            <a href="{% url 'todo_list_update' list_object.id %}">Edit</a>
            <a href="{% url 'todo_list_delete' list_object.id %}">Delete</a>
            <h2> Tasks </h2>
            <table>
                <thead>
                    <tr>
                        <th> Task</th>
                        <th> Due Date </th>
                    </tr>
                <tbody>
                    {% for todo in list_object.items.all %}
                    <tr>
                        <td><a href="{% url 'todo_list_update' list_object.id %}">{{ todo.task }}</a></td>
                        <td>{{ todo.due_date|date:"M d Y" }}</td>
                        {% endfor %}
                    </tr>
                </tbody>
                </thead>
            </table>
        </div>
    </main>
</body>

</html>
