<!DOCTYPE html>

<html>

<head>
    <title>Edit Todo Item</title>
</head>

<body>
    <main>
        <div>
            <h1>Update a Item</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div>
                    <button type="submit">Update</button>
                </div>
            </form>
        </div>
</body>
</html>
