<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Tasks</title>
</head>

<body>
    <main>
        <div>
            <h1>My Tasks</h1>
            <p>
                <a href="{% url 'todo_list_create' %}">Create New List</a>
                <a href="{% url 'todo_item_create' %}">Create New Item</a>
            </p>

            <table>
                <thead>
                    <tr>
                        <th>Name </th>
                        <th>Number of items </th>
                    </tr>
                <tbody>
                    {% for todo in show_list %}
                    <tr>
                        <td><a href="{% url 'todo_list_detail' todo.id %}">{{ todo.name }}</a></td>
                        <td>{{ todo.items.all|length }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                </thead>
            </table>
        </div>
    </main>
</body>

</html>
